 .box {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 0.5s;
}
 .box:hover {

    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
 .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;

}
 .box .imgBx img {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}
 .box .imgBx:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
 .box:hover .imgBx:before {
    opacity: 1;
} 
 .box .content {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    
    z-index: 2 ;
    display:flex;
    padding:20px;
    padding-left: 10%;
    align-items: flex-end;
}
 .box .content h2{
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bolder;
    transform: translateY(200px);
}
 .box:hover .content  h2{
  transform: translateY(0);
  transition-delay: 0.1s;
  z-index: 5;
}